/* body {
    /* background-image:url("../images/Disney.png"); */


h1 {
    font-size: 80px;
    text-align: center;
}

#start-button{
    text-align: center;
    font-size: 50px;
    background-color:red;
    border-width: 3px;
    border-color: black;

}

button{
    text-align: center;
    margin: 0 auto;
    float: center;
    justify-content: center;
    text-align: center;
}