/* html */

body{
    height: 100%; 
    /* background-image: linear-gradient(white, blue);  */
    font-family: 'Chicle', cursive;
    color:lightblue;
    background-color: blue;
}
.container{
    margin: 0 auto;
    float: center;
    justify-content: center;
    text-align: center;
}
html #questions {
    font-family: 'Chicle', cursive;
    font-size: 50px;
    /* height: 100%; */
    
}

h1{
    margin: 0 auto;
    text-align: center;

}
h1 img{
    width: 50%;
    height: 50%;

}
h1 p{
    font-size: 100px;
}

#start-button{
    text-align: center;
    font-size: 50px;
    background-color:red;
    border-width: 3px;
    border-color: black;
    display: "none";

}

button{
    text-align: center;
    margin: 0 auto;
    float: center;
    justify-content: center;
    text-align: center;
}
#question{
    display: "block";
}